<footer>
    <div class="lndl_footer">
        <div>
            <img alt="" src="../../assets/img/footer/location.png">
            <p>1 Rue de Rome 93110 Rosny-sous-Bois</p><br/>
            <img class="img-lieu" alt="" src="../../assets/img/footer/location.png">
            <p>14 Allée dublin 93320 Pavillon-sous-Bois</p><br/>
            <img class="img-lieu" alt="" src="../../assets/img/footer/location.png">
            <p>ZA Maryse Bastié 18110 Pigny</p>
        </div>
        <div>
            <img alt="" src="../../assets/img/footer/info.png">
            <p>01 48 55 16 47 <br/> contact@lndl.fr</p>
        </div>
        <div>
            <img alt="" src="../../assets/img/footer/clock.png">
            <p>Du Lundi au Vendredi 9h30 - 19h00 <br/> Samedi 10h00 - 17h00</p>
        </div>
    </div>
    <div class="rs_footer">
        <div><small>LNDL <span id="date"></span>© | Mentions légales</small></div>
        <div>
            <img alt="facebook" src="../../assets/img/footer/facebook.png" />
            <img alt="twitter" src="../../assets/img/footer/twitter.png" />
            <img alt="linkedin" src="../../assets/img/footer/linkedin.png" />
            <img alt="youtube" src="../../assets/img/footer/youtube.png" />
        </div>
    </div>


</footer>
