<app-header [title]=title></app-header>

<header>
    <div id="img_header" class="img_header">
        <div class="contenu">
            <h1>Nous Contacter </h1>
        </div>
    </div>
</header>

<div class="container" id="contact">
    <div>
        <div class="form-style-5">
            <fieldset>
                <legend><span class="number">!</span> Nous écrire un message</legend>
                <input type="text" name="field1" placeholder="Votre Nom *">
                <input type="text" name="field2" placeholder="Votre Prenom *">
                <input type="text" name="field4" placeholder="Votre Email *">
                <input type="number" name="field5" placeholder="Votre Numéro Tél *">
                <textarea type="text" name="field6" placeholder="Votre Message *"></textarea>

                <input type="submit" value="Envoyer" />
            </fieldset>
        </div>
        <div class="map">
            <iframe src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1%20rue%20de%20rome%2093160+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">find my location</a></iframe>
        </div>
    </div>
</div>